@import './variables.scss';
@import './helpers/btns.scss';
@import './helpers/general.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&family=Saira+Condensed:wght@300;500&display=swap');



h1,h2,h3 {
    font-family: 'Saira Condensed', sans-serif;
}

p,span,label {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box !important;
}
.content {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1400px;
    height: 100%;
}
.App {
    height: 100%;
}

.none {
    display: none !important;
}
.alert-danger {
    color: rgb(185, 4, 4);
    background-color: rgb(255, 111, 111);
    padding: 5px;
    border-radius: 5px;
}
.alert-warning {
    color: #856404;
    background-color: #FFF3CD;
    padding: 10px;
    border-radius: 5px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    padding: 5px;
    border-radius: 5px;
}
.edit-btn {
    background-color: rgb(143, 143, 27);
}
.delete-btn {
    background-color: rgb(109, 25, 25);
}
.delete-btn-2 {
    color: rgb(109, 25, 25);
    background: none;
    border: none;
    cursor: pointer;
}
.delete-btn-2:hover {
    color: rgb(83, 22, 22);
}
.d-flex{
    display: flex;
} 
.align-center{
    align-items: center;
} 
.justcont-between{
    justify-content: space-between;
}

@media only screen and (max-width:  $phones) {

    .content {
        margin-top: 120px;
    }
 }