@import './variables.scss';

.headerblogs {
    display: flex;
    justify-content: space-between;
    max-height: 500px;
    .most-readed {
        width: 69%;
        display: flex;
        justify-content: space-between;

        .blog-content {
            width: 39%;
            padding: 5px;
        }
        img {
            width: 59%;
        }
    }
    .second-most-readed {
        width: 29%;

        img {
            width: 100%;
            max-height:200px;
        }
    }
}

.trending-blogs {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    margin-top: 20px;
    
    .blog-card {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 5px;
    }
    .blog-card-header {
        display: flex;
        align-items: center;
        .card-header {
            width: 79%;
        }
        h2 {
            border-bottom: 1px solid black;
            margin: 0;
        }

        .card-img {
            width: 20%;
            img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            }
        }
    }
   
}
.blogs-for-you-trend {
    margin-top: 20px;
}

.blogs-for-you-card {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
    padding: 10px;
    margin: 10px 10px 10px 0;
    align-items: center;
    img {
        width: 100%;
        max-height: 200px;
    }
    .blog-card-for-you-content {
        grid-column: 2/4;

        h2 {
            margin: 0;
            border-bottom: 2px solid black;
            padding-bottom: 5px;
        }

        .blog-card-user {
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 10px;
            margin-top: 10px;
            align-items: center;
            img{
                width: 100%;
                border-radius: 50%;
            }
            h4 {
                grid-column: 2/-1;
            }
        }
    }
}

.trending-blogs-cards {
    border: 1px solid $lightgray;
    h1 {
        background-color: $lightgreen;
        padding: 30px;
    }
}

.blog-trending-card {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    align-items: center;
    margin: 30px 0;
    grid-gap: 15px;
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        grid-column: 2/4;
        max-height: 180px;
    }
    .blog-card-content {
        grid-column: 4/-1; 
      .blog-card-user {
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-gap: 10px;
        align-items: center;
        img{
            width: 100%;
            height: unset;
            border-radius: 50%;
            grid-column: 1/2;
        }
        h4 {
            grid-column: 2/-1;
        }
    }
    }
 
}


@media only screen and (max-width: $tablets) {
    .headerblogs {
            max-height: 100%; 
        .most-readed {
            width: 49%;
            flex-direction: column-reverse;
           .blog-content ,img {
               width: 100%;
           }
           img {
               max-height: 500px;
           }
        }
        .second-most-readed {
            width: 49%;
            img {
                max-height:500px;
            }
        }
    }
    .trending-blogs {
        grid-template-columns: repeat(2,1fr);
    }


}

@media only screen and (max-width:  $phones) {
    .headerblogs {
        flex-direction: column;
    .most-readed {
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
        width: 100%;
       .blog-content ,img {
           width: 100%;
       }
       img {
           max-height: 100%;
       }
    }
    .second-most-readed {
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
        width:100%;
        img {
            max-height:100%;
        }
    }
}
    
    .trending-blogs {
        grid-template-columns: 1fr;
    }
}