@import './colors.scss';

.headerblogs {
    display: flex;
    justify-content: space-between;
    max-height: 500px;
    .most-readed {
        width: 69%;
        display: flex;
        justify-content: space-between;

        .blog-content {
            width: 39%;
        }
        img {
            width: 59%;
        }
    }
    .second-most-readed {
        width: 29%;

        img {
            width: 100%;
            max-height:200px;
        }
    }
}

.trending-blogs {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    margin-top: 20px;
    .Seemore-link {
        font-size: 22px;
        color: $green;
        text-align: right;
        align-items: end;
        display: flex
    }
    .blog-card, .Seemore-link {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 5px;
    }
    .blog-card-header {
        display: flex;
        align-items: center;
        .card-header {
            width: 79%;
        }
        h2 {
            border-bottom: 1px solid black;
            margin: 0;
        }

        .card-img {
            width: 20%;
            img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            }
        }
    }
   
}