@import './variables.scss';

.user-Profile {
    display: grid;
    grid-template-columns: repeat(4,1fr);

    min-height: 900px;
    .user-profile-data {
        background-color: $lightgray;
        .user-avatar {
            width: 250px;
            height: 250px;
            margin: 0 auto;
            padding: 15px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
        .user-info {
            padding: 15px;
            font-size: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            * {
                margin-top: 10px;
            }
            label {
              font-weight: bold;
            }
        }
    }
    .user-blogs-section {
        padding: 15px;
        grid-column: 2/-1;
        .user-blogs {
            height: 100%;
        }
    }
}